.create_client_container{
    -fx-background-color: #EEEEEE;
}

.create_client_container Text {
    -fx-fill: #888888;
    -fx-font-size : 1.2em;

}

.create_client_container VBox{
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0 1;
    -fx-padding : 10;
    -fx-spacing : 15;
}

.create_client_container TextField{
    -fx-font-size : 1.3em;
    -fx-pref-width: 250;
    -fx-pref-height : 30;
    -fx-background-color : #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
    -fx-background-color:#FFFFFF;

}

.create_client_container_date{
     -fx-font-size : 1.3em;
        -fx-pref-width: 250;
        -fx-pref-height : 30;
        -fx-background-color : #FFFFFF;
        -fx-effect: dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
        -fx-background-color:#FFFFFF;
}

.create_client_container Button{
       -fx-background-color : Linear-gradient(to right,#2e3191, #383ca6);
       -fx-effect : dropShadow(three-pass-box,#AAAAAA, 3,0,0,3);
       -fx-pref-width : 250;
       -fx-font-size : 1.5em;
       -fx-font-family : "Calibri Light";
       -fx-text-fill : #FFFFFF;
}

.create_client_container Button:hover{
   -fx-cursor: hand;
}

.error_lbl {
    -fx-text-fill:red;
}